/* button more start */
.button-more {
	--fancy-button-gradient-0: #c99a36;
	--fancy-button-gradient-50: #c99a36;
	--fancy-button-gradient-100: #fff;
	--fancy-button-inner-shadow-top: rgba(233, 209, 255, 0.2);
	--fancy-button-inner-shadow-top-lg: rgba(9, 12, 60, 0.1);
	--fancy-button-inner-shadow-bottom: rgba(137, 222, 246, 0.3);
	--fancy-button-shine-top: #e9d1ff;
	--fancy-button-shine-bottom: #fff;
	font-weight: 500;
	font-size: 15px;
	line-height: 21px;
	text-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
	padding: 0;
	margin: 0;
	appearance: none;
	border: none;
	outline: none;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 1;
	border-radius: 25px;
	color: #fff;
	background-image: linear-gradient(
	  to bottom,
	  var(--fancy-button-gradient-0) 0%,
	  var(--fancy-button-gradient-50) 50%,
	  var(--fancy-button-gradient-100) 100%
	);
	box-shadow:
	  0px 4px 12px rgba(9, 12, 60, 0.15),
	  0px 2px 8px rgba(9, 12, 60, 0.15),
	  0px 1px 3px var(--fancy-button-inner-shadow-top-lg),
	  inset 0px 1px 1px var(--fancy-button-inner-shadow-top),
	  inset 0px -1px 3px var(--fancy-button-inner-shadow-bottom);
  }
  
  .button-more:before,
  .button-more:after {
	content: "";
	position: absolute;
	border-radius: inherit;
	will-change: transform;
  }
  
  .button-more:before {
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--fancy-button-shine-top);
	width: 96px;
	height: 6px;
	top: -3px;
	opacity: 0.6;
	filter: blur(6px);
	transition: opacity 0.25s;
  }
  
  .button-more:after {
	inset: 0;
	background-size: cover;
	z-index: 2;
	opacity: 0.3;
	mix-blend-mode: overlay;
	pointer-events: none;
  }
  
  .button-more span {
	display: block;
	padding: 12px 24px;
	border-radius: inherit;
	overflow: hidden;
	position: relative;
	background-image: linear-gradient(
	  to bottom,
	  var(--fancy-button-shine-top),
	  transparent 8px
	);
	background-position: 0 -6px;
	background-repeat: no-repeat;
	z-index: 1;
  }
  
  .button-more span:before,
  .button-more span:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	background-color: var(--fancy-button-shine-bottom);
	transition:
	  opacity 0.25s,
	  transform 0.25s;
	will-change: transform;
  }
  
  .button-more span:before {
	width: 92px;
	height: 8px;
	bottom: -4px;
	opacity: 0.75;
	filter: blur(6px);
  }
  
  .button-more span:after {
	width: 112px;
	height: 1px;
	bottom: 0;
	opacity: 0.9;
	filter: blur(1px);
  }
  
  .button-more:hover span:before {
	opacity: 0.8;
  }
  
  .button-more:hover span:before {
	transform: translateX(-50%) scale(1.25);
  }
  
  .button-more:hover span:after {
	opacity: 1;
  }
  
/* end */
